// Colors
$colors: (
  // Main Colors
        blue: (
                '200': #dbd9ff,
                '300': #697ed4,
                '700': #1e2d69,
                '800': #0f1b3d,
                '900': #0c122c,
        ),
        gradient: (
                'pink': linear-gradient(90deg, #ffa197 0%, #ff4a95 100%)
        ),
        box-shadow: (
                'black': #00000040,
        ),
  // Other
        'background': #0c122c,
        'white': #ffffff,
        'black': #0c122c,
);